* {
  box-sizing: border-box;
}
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3em;
  margin-bottom: .5em;
}
#frame {
  position: relative;
  z-index: 1;
}
#search {
  position: absolute;
  width: 100%;
  z-index: 3;
}
#orig {
  float: left;
}
#dest {
  float: right;
}
.place {
  position: relative;
  padding: 2em;
  width: 50%;
}
input[type=text] {
  font-size: 4.2em;
  padding: 0.2em;
  width: 100%;
}
a {
  margin-bottom: 0px
}
.suggest a {
  display: block;
  font-size: 1.5em;
  padding: 0.3em;
  border-bottom: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
  color: #2c3e50;
  text-decoration: none;
}
.odd {
  background-color: #fff;
}
.even {
  background-color: #ecf0f1;
  color: #27ae60;
}
.suggest a#active {
  background-color: #27ae60;
  color: white;
}
.suggest a:hover {
  background-color: #bdc3c7;
  color: white;
}

#results {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  margin-top: 130px;
  width: 61.803%;
  float: left;
  padding: 1em;
  z-index: 2;
}
table {
  width:100%;
}
#rides {
  width:100%;
}
th {
  color: #CCCCCC;
}
td {
  padding: 0.2em;
  font-size: 2em;
  color: #DDDDDD;
  padding: 0.42em, 0em, 0em, 0em;
}
.time {
  font-size: 0.15em;
}
.pickup {
  font-size: 1em;
  white-space: nowrap;
}
.who {
  font-size: 0.7em;
  width: 2em;
}
.orig, .dest {
  font-size: 1.4em;
  font-weight: bold;
}
.dist {
  width: 0.3em;
  font-size: 0.7em;
  white-space: nowrap;
}
.detour {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
}

th.sort-header::-moz-selection { background:transparent; }
th.sort-header::selection      { background:transparent; }
th.sort-header {
  cursor:pointer;
}
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
}
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
}
table th.sort-header:hover:after {
  visibility:visible;
}
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
}
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
}
